.formArea {
  margin-bottom: 30px;
}

input {
  display: block;
  margin-bottom: 5px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardImg {
  border: 2px solid black;
  width: 200px;
  text-align: center;
}

.cardImg img {
  width: 100%;
}
