<div class="formArea">
  <hr>
  <p>Gallery</p>
  <hr>
  <input [(ngModel)]="inputPassword" type="text" placeholder="Password" >
  <button type="button" [disabled]="passwordIsEmpty()" (click)="getForm()">Open form</button>
</div>
<form *ngIf="showForm" (submit)="getDataFromForm($event)">
  <input [(ngModel)]="inputTitle" type="text" name="imgTitle" placeholder="Image title">
  <input [(ngModel)]="inputUrl" type="text" name="imgUrl" placeholder="Image url">
  <button type="submit" [disabled]="imageDataIsEmpty()">Add image</button>
</form>
<hr>
<div class="cards">
  <div class="cardImg" *ngFor="let img of images">
    <img [src]="img.url" [alt]="img.title">
    <p>{{img.title}}</p>
  </div>
</div>

