.btnNew {
  padding: 10px;
  background-color: cyan;
}

.numbers {
  display: flex;
  margin: 20px 0;
}

.numberArea {
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
